<div>
    <strong><%= comment.name %> says: </strong>
    <%= comment.content %>
    <% if current_user %>
        <div class="comment-admin">
            <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
            <% if current_user && current_user.admin %>
                <%= link_to "Delete", [@post, comment], method: :delete %>
            <% end %>
        </div>
    <% end %>
</div>